:root {
  --primary-colour: #0f273b;
  --secondary-colour: #b2d3ed;
}

body {
  padding: 80px 40px;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(/Images/background.jpg);
  background-size: cover;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  line-height: 110%;
  margin: 8px 0;
  color: white;
}

p {
  font-size: 16px;
  line-height: 150%;
  margin: 0;
  color: var(--secondary-colour);
}

a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

form {
  display: flex;
  width: 100%;
  gap: 8px;
  color: var(--primary-colour);
}

strong {
  color: white;
}

.search-bar {
  margin-bottom: 40px;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 8px;
}

::placeholder {
  color: var(--primary-colour);
  font-weight: bold;
}

.form-field {
  padding: 12px 18px;
  border-radius: 12px;
  border: 0;
  background-color: white;
  width: 100%;
}

input {
  color: var(--primary-colour);
  font-weight: bold;
}

.primary-button {
  font-size: 16px;
  padding: 12px 24px;
  border: 0;
  border-radius: 12px;
  background: var(--primary-colour);
  color: white;
  transition: all 150ms ease-in-out;
}

.primary-button:hover {
  background-color: var(--secondary-colour);
  color: var(--primary-colour);
}

.weather-app {
  background: #0f273bc6;
  backdrop-filter: blur(5px);
  border-radius: 24px;
  border: 2px solid #0f273b4d;
  margin: 0 auto;
  padding: 24px;
  max-width: 700px;
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.08);
}

.forecast {
  text-align: center;
  margin: 48px 0 12px 0;
}

.right {
  text-align: right;
  margin: 0 auto;
}

.current-temperature {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 4px;
}

#temperature {
  margin: 0;
  line-height: 100%;
}

.temperature-celsius {
  display: flex;
  gap: 4px;
}

.temperature-celsius p {
  color: white;
  font-weight: bold;
}

#description {
  margin: 0 0 4px 0;
  color: white;
}

#description::first-letter {
  text-transform: capitalize;
}

footer p {
  margin: 40px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: var(--secondary-colour);
}

footer a {
  color: var(--secondary-colour);
}
