body {
  padding: 80px 40px;
  background-color: #f2f8fb;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  line-height: 110%;
  margin: 8px 0;
  color: #30434d;
}

p {
  font-size: 16px;
  line-height: 150%;
  margin: 0;
  color: #69828f;
}

a {
  color: #006ba4;
  text-decoration: none;
  font-weight: bold;
}

form {
  display: flex;
  width: 100%;
  gap: 8px;
  color: #30434d;
}

button {
  font-size: 16px;
  padding: 12px 24px;
  border: 0;
  border-radius: 12px;
  background-color: #bfdded;
  color: #30434d;
}

strong {
  color: #006ba4;
}

.search-bar {
  margin-bottom: 40px;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 8px;
}

::placeholder {
  color: #495c67;
}

.form-field {
  padding: 12px 18px;
  border-radius: 12px;
  border: 0;
  background-color: #f6f5f5;
  width: 100%;
}

.primary-button {
  font-size: 16px;
  padding: 12px 24px;
  border: 0;
  border-radius: 12px;
  background-color: #bfdded;
  color: #30434d;
}

.primary-button:hover {
  background-color: #afd7ec;
}

.weather-app {
  background-color: white;
  border-radius: 24px;
  margin: 0 auto;
  padding: 24px;
  max-width: 700px;
  border-radius: 24px;
  box-shadow: 0 20px 50px rgb(0, 0, 0, 0.1);
}

.forecast {
  text-align: center;
  margin: 48px 0 12px 0;
}

.right {
  text-align: right;
  margin: 0 auto;
}

.current-temperature {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 4px;
}

#temperature {
  margin: 0;
  line-height: 100%;
}

.temperature-celsius {
  display: flex;
  gap: 4px;
}

.temperature-celsius p {
  color: #30434d;
  font-weight: bold;
}

.active {
  color: #30434d;
  cursor: default;
}

#description {
  margin: 0 0 4px 0;
}

#description::first-letter {
  text-transform: capitalize;
}

footer p {
  margin: 40px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: #30434d;
}
